@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&family=Open+Sans:ital@1&family=Roboto+Serif:ital,wght@1,100&display=swap');
.tableview{
  font-family: 'Roboto Serif', sans-serif;
    padding: 30px;
   
    background-color:  rgba(12, 64, 175, 0.788);
    border-radius: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  
    
}

  table {
    border-collapse: collapse;
    width: 100%;

  }
  
  th,
  td {
    border: 1px solid white;
    text-align: left;
    padding: 7px;
    font-size: 20px;
  }
  
  th {
    background-color: yellowgreen;
    color: black;
    border-radius: 30px;
  }


  tr:nth-child(even){
    background-color:yellowgreen;
    color: black;
   
  }
  tr:nth-child(odd){
    background-color:white;
    color: black;
  }
 
  
  
  
  
