@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&family=Open+Sans:ital@1&family=Roboto+Serif:ital,wght@1,100&display=swap');
.container {
 
  font-family: 'Roboto Serif', sans-serif;
  flex: 9;
   display: flex;
   align-items: flex-start;
   margin: 40px;
   color: white;
 }
 .create-form input{
   width: 20rem; 
   padding: 10px; 
   border: 1px solid #ccc; 
   border-radius: 4px; 
   box-sizing: border-box; 
  margin: 10px;
 }

.create-form p{
  margin: 0px;
  display: flex;
  align-items: flex-start;
  color: red;
  word-wrap: break-word;
}

button{
 display: inline;
 margin-right: 20px;
}
.a{
 color: white;
}