@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&family=Open+Sans:ital@1&family=Roboto+Serif:ital,wght@1,100&display=swap');

.create-form{
  font-family: 'Roboto Serif', sans-serif;
  margin-left: 10rem;
  overflow: hidden;
   border-radius: 85px;
   height: ;
   width: 555px;
   margin-top: 1rem; 
   box-shadow: 0px 4px 20px rgba(42, 50, 53, 0.39);
}

.create-form .main{
  margin-left: 4rem;
  color: black;
}

.main .h1{
  font-size: 2;
}

.create-form .fname, .lname, .pass, .conpass, .cit, .stat{
  width: 12rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
  border-color: #F3A953;
}
.create-form .comp, .eml{
  width: 17rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
  border-color: #F3A953;
}
.create-form .addr{
width: 20rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
  border-color: #F3A953;
}
.create-form p{
  margin: 0px;
  display: flex;
  align-items: flex-start;
  color: red;
  word-wrap: break-word;
  font-size: small;
  font-weight: bolder;
}

.btn{
  display: flex;
  width: calc(100% - 4px);
}

.btn .btn1, .btn2, .btn3{
  background-color: #F3A953;
  padding: 12px 24px;
  width: 17%;
  border: none;
  display: inline-block;
  color: black;
  border-radius: 25px;
  margin: 20px 20px;
}

span {display: block; margin: 0 0 3px; font-size: 0.75rem; font-weight: bolder;}
label {  float: left;  }